In [5]:
# DATA PREPROCESSING

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
plt.rcParams['figure.figsize'] = (20, 6)
plt.rcParams['font.size'] = 14
import pandas as pd

In [7]:
# Load data
df = pd.read_csv('/Users/oyazaimoglu/Desktop/Machine Learning/adult.csv', index_col=False)

In [ ]:
# df = training
# golden = test

In [8]:
golden = pd.read_csv('/Users/oyazaimoglu/Desktop/Machine Learning/adult.csv', index_col=False)

In [9]:
golden.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [10]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [11]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [12]:
from sklearn import preprocessing

In [13]:
enc = preprocessing.OrdinalEncoder()

In [14]:
# Transform the sex variable into binary
# Differentiate all the non-numeric columns
transform_columns = ['sex']
non_num_columns = ['workclass', 'education', 'marital-status', 
                     'occupation', 'relationship', 'race', 'sex', 
                     'native-country']

In [15]:
pd.get_dummies(df[transform_columns]).head()

   sex_ Female  sex_ Male
0            0          1
1            0          1
2            0          1
3            0          1
4            1          0

In [16]:
# Drop the non-numeric columns, and add the binary versions of the sex variable
# transform the salary variable
x = df.copy()

x = pd.concat([x.drop(non_num_columns, axis=1), 
               pd.get_dummies(df[transform_columns])], axis=1,)

x["salary"] = enc.fit_transform(df[["salary"]])

In [17]:
x.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,salary,sex_ Female,sex_ Male
0,39,77516,13,2174,0,40,0.0,0,1
1,50,83311,13,0,0,13,0.0,0,1
2,38,215646,9,0,0,40,0.0,0,1
3,53,234721,7,0,0,40,0.0,0,1
4,28,338409,13,0,0,40,0.0,1,0

In [18]:
# Repeat steps above for the golden dataset
xt = golden.copy()

xt = pd.concat([xt.drop(non_num_columns, axis=1), 
               pd.get_dummies(golden[transform_columns])], axis=1,)

xt["salary"] = enc.fit_transform(golden[["salary"]])

In [19]:
xt.salary.value_counts()

0.0    24720
1.0     7841
Name: salary, dtype: int64

In [20]:
enc.categories_

[array([' <=50K', ' >50K'], dtype=object)]

In [21]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [ ]:
# Question 1: how the RandomForest outperforms the DecisionTree for a fixed max_depth by training using the train set and precision, recall, f1 on golden-test set

In [22]:
# Create distinct models of: Decision Tree or Random Forest

model = RandomForestClassifier(criterion='entropy')

In [23]:
model = DecisionTreeClassifier(criterion='entropy', max_depth=None)

In [25]:
model.fit(x.drop(['fnlwgt','salary'], axis=1), x.salary)

DecisionTreeClassifier(criterion='entropy')

In [26]:
model.tree_.node_count

8317

In [27]:
list(zip(x.drop(['fnlwgt','salary'], axis=1).columns, model.feature_importances_))

[('age', 0.3234030067664721),
 ('education-num', 0.1614115088136235),
 ('capital-gain', 0.2273016049941117),
 ('capital-loss', 0.07874359460527547),
 ('hours-per-week', 0.15377463847953143),
 ('sex_ Female', 0.03463289270016433),
 ('sex_ Male', 0.020732753640821354)]

In [28]:
list(zip(x.drop(['fnlwgt','salary'], axis=1).columns, model.feature_importances_))

[('age', 0.3234030067664721),
 ('education-num', 0.1614115088136235),
 ('capital-gain', 0.2273016049941117),
 ('capital-loss', 0.07874359460527547),
 ('hours-per-week', 0.15377463847953143),
 ('sex_ Female', 0.03463289270016433),
 ('sex_ Male', 0.020732753640821354)]

In [29]:
x.drop(['fnlwgt','salary'], axis=1).head()

,age,education-num,capital-gain,capital-loss,hours-per-week,sex_ Female,sex_ Male
0,39,13,2174,0,40,0,1
1,50,13,0,0,13,0,1
2,38,9,0,0,40,0,1
3,53,7,0,0,40,0,1
4,28,13,0,0,40,1,0

In [30]:
set(x.columns) - set(xt.columns)

set()

In [31]:
list(x.drop('salary', axis=1).columns)

['age',
 'fnlwgt',
 'education-num',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'sex_ Female',
 'sex_ Male']

In [32]:
predictions = model.predict(xt.drop(['fnlwgt','salary'], axis=1))
predictionsx = model.predict(x.drop(['fnlwgt','salary'], axis=1))

In [33]:
from sklearn.metrics import (
    accuracy_score, 
    classification_report, 
    confusion_matrix, auc, roc_curve
)

In [34]:
accuracy_score(xt.salary, predictions)

0.8955806025613464

In [35]:
accuracy_score(xt.salary, predictions)

0.8955806025613464

In [36]:
confusion_matrix(xt.salary, predictions)

array([[24097,   623],
       [ 2777,  5064]])

In [37]:
print(classification_report(xt.salary, predictions))

              precision    recall  f1-score   support

         0.0       0.90      0.97      0.93     24720
         1.0       0.89      0.65      0.75      7841

    accuracy                           0.90     32561
   macro avg       0.89      0.81      0.84     32561
weighted avg       0.90      0.90      0.89     32561

In [38]:
accuracy_score(x.salary, predictionsx)

0.8955806025613464

In [39]:
confusion_matrix(x.salary, predictionsx)

array([[24097,   623],
       [ 2777,  5064]])

In [40]:
print(classification_report(x.salary, predictionsx))

              precision    recall  f1-score   support

         0.0       0.90      0.97      0.93     24720
         1.0       0.89      0.65      0.75      7841

    accuracy                           0.90     32561
   macro avg       0.89      0.81      0.84     32561
weighted avg       0.90      0.90      0.89     32561

In [41]:
print(classification_report(x.salary, predictionsx))

              precision    recall  f1-score   support

         0.0       0.90      0.97      0.93     24720
         1.0       0.89      0.65      0.75      7841

    accuracy                           0.90     32561
   macro avg       0.89      0.81      0.84     32561
weighted avg       0.90      0.90      0.89     32561

In [ ]:
# Question 2: 
# Add new columns, one by one, that are non-numerical but converted using feature-extraction
# Show [precision, recall, f1] for each additional feature added

In [42]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [43]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [44]:
# Adding in Race

In [ ]:
from sklearn import preprocessing

In [48]:
enc = preprocessing.OrdinalEncoder()

In [51]:
transform_columns = ['race', 'sex']

In [52]:
pd.get_dummies(df[transform_columns]).head()

,race_ Amer-Indian-Eskimo,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,sex_ Female,sex_ Male
0,0,0,0,0,1,0,1
1,0,0,0,0,1,0,1
2,0,0,0,0,1,0,1
3,0,0,1,0,0,0,1
4,0,0,1,0,0,1,0

In [53]:
x = df.copy()

x = pd.concat([x.drop(non_num_columns, axis=1), 
               pd.get_dummies(df[transform_columns])], axis=1,)

x["salary"] = enc.fit_transform(df[["salary"]])

In [54]:
x.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,salary,race_ Amer-Indian-Eskimo,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,sex_ Female,sex_ Male
0,39,77516,13,2174,0,40,0.0,0,0,0,0,1,0,1
1,50,83311,13,0,0,13,0.0,0,0,0,0,1,0,1
2,38,215646,9,0,0,40,0.0,0,0,0,0,1,0,1
3,53,234721,7,0,0,40,0.0,0,0,1,0,0,0,1
4,28,338409,13,0,0,40,0.0,0,0,1,0,0,1,0

In [55]:
xt = golden.copy()

xt = pd.concat([xt.drop(non_num_columns, axis=1), 
               pd.get_dummies(golden[transform_columns])], axis=1,)

xt["salary"] = enc.fit_transform(golden[["salary"]])

In [58]:
model = DecisionTreeClassifier(criterion='entropy', max_depth=None)

In [59]:
model.fit(x.drop(['fnlwgt','salary'], axis=1), x.salary)

DecisionTreeClassifier(criterion='entropy')

In [60]:
model.tree_.node_count

9283

In [61]:
list(zip(x.drop(['fnlwgt','salary'], axis=1).columns, model.feature_importances_))

[('age', 0.3172382913474671),
 ('education-num', 0.15558338910443098),
 ('capital-gain', 0.2151790521326892),
 ('capital-loss', 0.07471010198264454),
 ('hours-per-week', 0.14724148123960773),
 ('race_ Amer-Indian-Eskimo', 0.003134716201466398),
 ('race_ Asian-Pac-Islander', 0.007958287392471102),
 ('race_ Black', 0.010011699935139872),
 ('race_ Other', 0.0026903771079123556),
 ('race_ White', 0.01285995201903963),
 ('sex_ Female', 0.020802795895142917),
 ('sex_ Male', 0.03258985564198812)]

In [62]:
list(zip(x.drop(['fnlwgt','salary'], axis=1).columns, model.feature_importances_))

[('age', 0.3172382913474671),
 ('education-num', 0.15558338910443098),
 ('capital-gain', 0.2151790521326892),
 ('capital-loss', 0.07471010198264454),
 ('hours-per-week', 0.14724148123960773),
 ('race_ Amer-Indian-Eskimo', 0.003134716201466398),
 ('race_ Asian-Pac-Islander', 0.007958287392471102),
 ('race_ Black', 0.010011699935139872),
 ('race_ Other', 0.0026903771079123556),
 ('race_ White', 0.01285995201903963),
 ('sex_ Female', 0.020802795895142917),
 ('sex_ Male', 0.03258985564198812)]

In [63]:
x.drop(['fnlwgt','salary'], axis=1).head()

,age,education-num,capital-gain,capital-loss,hours-per-week,race_ Amer-Indian-Eskimo,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,sex_ Female,sex_ Male
0,39,13,2174,0,40,0,0,0,0,1,0,1
1,50,13,0,0,13,0,0,0,0,1,0,1
2,38,9,0,0,40,0,0,0,0,1,0,1
3,53,7,0,0,40,0,0,1,0,0,0,1
4,28,13,0,0,40,0,0,1,0,0,1,0

In [64]:
set(x.columns) - set(xt.columns)

set()

In [65]:
list(x.drop('salary', axis=1).columns)

['age',
 'fnlwgt',
 'education-num',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'race_ Amer-Indian-Eskimo',
 'race_ Asian-Pac-Islander',
 'race_ Black',
 'race_ Other',
 'race_ White',
 'sex_ Female',
 'sex_ Male']

In [66]:
predictions = model.predict(xt.drop(['fnlwgt','salary'], axis=1))
predictionsx = model.predict(x.drop(['fnlwgt','salary'], axis=1))

In [67]:
from sklearn.metrics import (
    accuracy_score, 
    classification_report, 
    confusion_matrix, auc, roc_curve
)

In [68]:
accuracy_score(xt.salary, predictions)

0.9030128067319799

In [69]:
accuracy_score(xt.salary, predictions)

0.9030128067319799

In [70]:
confusion_matrix(xt.salary, predictions)

array([[24089,   631],
       [ 2527,  5314]])

In [71]:
print(classification_report(xt.salary, predictions))

              precision    recall  f1-score   support

         0.0       0.91      0.97      0.94     24720
         1.0       0.89      0.68      0.77      7841

    accuracy                           0.90     32561
   macro avg       0.90      0.83      0.85     32561
weighted avg       0.90      0.90      0.90     32561

In [ ]:
# accuracy is improved from 0.89 to 0.90

In [ ]:
# let's add marital status

In [72]:
from sklearn import preprocessing

In [73]:
enc = preprocessing.OrdinalEncoder()

In [74]:
transform_columns = ['sex', 'race', 'marital-status']

In [75]:
pd.get_dummies(df[transform_columns]).head()

,sex_ Female,sex_ Male,race_ Amer-Indian-Eskimo,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,marital-status_ Divorced,marital-status_ Married-AF-spouse,marital-status_ Married-civ-spouse,marital-status_ Married-spouse-absent,marital-status_ Never-married,marital-status_ Separated,marital-status_ Widowed
0,0,1,0,0,0,0,1,0,0,0,0,1,0,0
1,0,1,0,0,0,0,1,0,0,1,0,0,0,0
2,0,1,0,0,0,0,1,1,0,0,0,0,0,0
3,0,1,0,0,1,0,0,0,0,1,0,0,0,0
4,1,0,0,0,1,0,0,0,0,1,0,0,0,0

In [76]:
x = df.copy()

x = pd.concat([x.drop(non_num_columns, axis=1), 
               pd.get_dummies(df[transform_columns])], axis=1,)

x["salary"] = enc.fit_transform(df[["salary"]])

In [77]:
x.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,salary,sex_ Female,sex_ Male,race_ Amer-Indian-Eskimo,...,race_ Black,race_ Other,race_ White,marital-status_ Divorced,marital-status_ Married-AF-spouse,marital-status_ Married-civ-spouse,marital-status_ Married-spouse-absent,marital-status_ Never-married,marital-status_ Separated,marital-status_ Widowed
0,39,77516,13,2174,0,40,0.0,0,1,0,...,0,0,1,0,0,0,0,1,0,0
1,50,83311,13,0,0,13,0.0,0,1,0,...,0,0,1,0,0,1,0,0,0,0
2,38,215646,9,0,0,40,0.0,0,1,0,...,0,0,1,1,0,0,0,0,0,0
3,53,234721,7,0,0,40,0.0,0,1,0,...,1,0,0,0,0,1,0,0,0,0
4,28,338409,13,0,0,40,0.0,1,0,0,...,1,0,0,0,0,1,0,0,0,0

In [78]:
xt = golden.copy()

xt = pd.concat([xt.drop(non_num_columns, axis=1), 
               pd.get_dummies(golden[transform_columns])], axis=1,)

xt["salary"] = enc.fit_transform(golden[["salary"]])

In [79]:
xt.salary.value_counts()

0.0    24720
1.0     7841
Name: salary, dtype: int64

In [80]:
enc.categories_

[array([' <=50K', ' >50K'], dtype=object)]

In [81]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [82]:
model = RandomForestClassifier(criterion='entropy')

In [103]:
model = DecisionTreeClassifier(criterion='entropy', max_depth=30)

In [104]:
model.fit(x.drop(['fnlwgt','salary'], axis=1), x.salary)

DecisionTreeClassifier(criterion='entropy', max_depth=30)

In [105]:
model.tree_.node_count

8487

In [106]:
list(zip(x.drop(['fnlwgt','salary'], axis=1).columns, model.feature_importances_))

[('age', 0.18861076904595406),
 ('education-num', 0.1587333487090839),
 ('capital-gain', 0.1500099736298581),
 ('capital-loss', 0.05164410581524464),
 ('hours-per-week', 0.12179885437083503),
 ('sex_ Female', 0.008313720759324893),
 ('sex_ Male', 0.009284005070822898),
 ('race_ Amer-Indian-Eskimo', 0.0026990252431865172),
 ('race_ Asian-Pac-Islander', 0.00590946190885784),
 ('race_ Black', 0.009388809873313126),
 ('race_ Other', 0.0015015114310006816),
 ('race_ White', 0.01074880511069459),
 ('marital-status_ Divorced', 0.006365764604988724),
 ('marital-status_ Married-AF-spouse', 0.002249547477542475),
 ('marital-status_ Married-civ-spouse', 0.2580397648262945),
 ('marital-status_ Married-spouse-absent', 0.001886083771278848),
 ('marital-status_ Never-married', 0.006291331127861256),
 ('marital-status_ Separated', 0.003343356207472273),
 ('marital-status_ Widowed', 0.0031817610163855643)]

In [107]:
list(zip(x.drop(['fnlwgt','salary'], axis=1).columns, model.feature_importances_))

[('age', 0.18861076904595406),
 ('education-num', 0.1587333487090839),
 ('capital-gain', 0.1500099736298581),
 ('capital-loss', 0.05164410581524464),
 ('hours-per-week', 0.12179885437083503),
 ('sex_ Female', 0.008313720759324893),
 ('sex_ Male', 0.009284005070822898),
 ('race_ Amer-Indian-Eskimo', 0.0026990252431865172),
 ('race_ Asian-Pac-Islander', 0.00590946190885784),
 ('race_ Black', 0.009388809873313126),
 ('race_ Other', 0.0015015114310006816),
 ('race_ White', 0.01074880511069459),
 ('marital-status_ Divorced', 0.006365764604988724),
 ('marital-status_ Married-AF-spouse', 0.002249547477542475),
 ('marital-status_ Married-civ-spouse', 0.2580397648262945),
 ('marital-status_ Married-spouse-absent', 0.001886083771278848),
 ('marital-status_ Never-married', 0.006291331127861256),
 ('marital-status_ Separated', 0.003343356207472273),
 ('marital-status_ Widowed', 0.0031817610163855643)]

In [108]:
x.drop(['fnlwgt','salary'], axis=1).head()

,age,education-num,capital-gain,capital-loss,hours-per-week,sex_ Female,sex_ Male,race_ Amer-Indian-Eskimo,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,marital-status_ Divorced,marital-status_ Married-AF-spouse,marital-status_ Married-civ-spouse,marital-status_ Married-spouse-absent,marital-status_ Never-married,marital-status_ Separated,marital-status_ Widowed
0,39,13,2174,0,40,0,1,0,0,0,0,1,0,0,0,0,1,0,0
1,50,13,0,0,13,0,1,0,0,0,0,1,0,0,1,0,0,0,0
2,38,9,0,0,40,0,1,0,0,0,0,1,1,0,0,0,0,0,0
3,53,7,0,0,40,0,1,0,0,1,0,0,0,0,1,0,0,0,0
4,28,13,0,0,40,1,0,0,0,1,0,0,0,0,1,0,0,0,0

In [109]:
set(x.columns) - set(xt.columns)

set()

In [110]:
list(x.drop('salary', axis=1).columns)

['age',
 'fnlwgt',
 'education-num',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'sex_ Female',
 'sex_ Male',
 'race_ Amer-Indian-Eskimo',
 'race_ Asian-Pac-Islander',
 'race_ Black',
 'race_ Other',
 'race_ White',
 'marital-status_ Divorced',
 'marital-status_ Married-AF-spouse',
 'marital-status_ Married-civ-spouse',
 'marital-status_ Married-spouse-absent',
 'marital-status_ Never-married',
 'marital-status_ Separated',
 'marital-status_ Widowed']

In [111]:
predictions = model.predict(xt.drop(['fnlwgt','salary'], axis=1))
predictionsx = model.predict(x.drop(['fnlwgt','salary'], axis=1))

In [112]:
from sklearn.metrics import (
    accuracy_score, 
    classification_report, 
    confusion_matrix, auc, roc_curve
)

In [113]:
accuracy_score(xt.salary, predictions)

0.9233438776450354

In [114]:
accuracy_score(xt.salary, predictions)

0.9233438776450354

In [115]:
confusion_matrix(xt.salary, predictions)

array([[23935,   785],
       [ 1711,  6130]])

In [116]:
print(classification_report(xt.salary, predictions))

              precision    recall  f1-score   support

         0.0       0.93      0.97      0.95     24720
         1.0       0.89      0.78      0.83      7841

    accuracy                           0.92     32561
   macro avg       0.91      0.88      0.89     32561
weighted avg       0.92      0.92      0.92     32561

In [117]:
accuracy_score(x.salary, predictionsx)

0.9233438776450354

In [118]:
confusion_matrix(x.salary, predictionsx)

array([[23935,   785],
       [ 1711,  6130]])

In [119]:
print(classification_report(x.salary, predictionsx))

              precision    recall  f1-score   support

         0.0       0.93      0.97      0.95     24720
         1.0       0.89      0.78      0.83      7841

    accuracy                           0.92     32561
   macro avg       0.91      0.88      0.89     32561
weighted avg       0.92      0.92      0.92     32561

In [ ]:
# accuracy has improved to 0.92!
# Also adjusted the max depth value to 30, which has only made a slight difference.